{% set peer_list = [] %}
{% for host in groups['pg_nodes'] %}
{% set _ = peer_list.append(host + '=https://' + hostvars[host]['etcd_node_ip'] + ':' + etcd_peer_port | string) %}
{% endfor %}
{% set client_list = [] %}
{% for host in groups['pg_nodes'] %}
{% set _ = client_list.append('https://' + hostvars[host]['etcd_node_ip'] + ':' + etcd_client_port | string) %}
{% endfor %}
ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_INITIAL_CLUSTER="{{ peer_list | join(',') }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_token }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_node_ip }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_node_ip }}:{{ etcd_client_port }}"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{ etcd_ssl_dir }}/ca.crt"
ETCD_CERT_FILE="{{ etcd_ssl_dir }}/{{ etcd_cert_name }}.crt"
ETCD_KEY_FILE="{{ etcd_ssl_dir }}/{{ etcd_cert_name }}.key"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_ssl_dir }}/ca.crt"
ETCD_PEER_CERT_FILE="{{ etcd_ssl_dir }}/{{ etcd_cert_name }}.crt"
ETCD_PEER_KEY_FILE="{{ etcd_ssl_dir }}/{{ etcd_cert_name }}.key"
